<%- include partials/header.ejs %>
  
  <div class="jumbotron">
    <div class="image">
      <img src="<%= user.picture %>" alt="Avatar"/>
    </div>

    <h5 class="greeting"><%= greeting %> <i><%= user.nickname %></i></h5>
    <span> isTodayBirthday : <%= isTodayBirthday %> </span>, 
    <span> ageCategory : <%= ageCategory %> </span>, 
    <span> age : <%= age %> </span>


    <% if(isTodayBirthday){ %>
    <p>
      <div>Would you like to make this birthday special for you through investing with us.</div>
      <div>Is your growth strategy build for choppy market, manage your journy with us?</div>
    <p>
    <% } %>
    <p>Here are some awesome funds you might be interested in </p>    
    <table class="table table-striped table-inverse table-hover table-sm">
      <thead>
        <tr>
          <th width="200px;">Mutual Funds</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% for( var i = 0; i < funds.length; i++) { %>
        <tr>
          <td><%= funds[i].name %></td>
          <td><a href="<%= funds[i].href %>"><%= funds[i].title %></a></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  
    <% if( ageCategory === "old" ){ %>
    <p>
      <div>Are you planning for retirement?</div>
      <div>Understand the ins and outs of saving investing and living in retirement.</div>
    </p>
    <% } %>
  </div>

  <%- include partials/footer.ejs %>  
  
  </body>
</html>