<%- include partials/header.ejs %>
  <img src="<%= user.picture %>"></img>
  <h2>Welcome <i><%= user.nickname %></h2></i> <a  class="btn btn-primary" href="/logout">Logout</a>
    
  <br/><br/>
  <h2>User profile</h2>
  <pre>
    <%= JSON.stringify(user) %>
  </pre>
  <pre>
  	<%= userProfile %>
  </pre>
  <br/>

  </body>
</html>
